<!DOCTYPE html>
<head>
    <title>AirServe {{dirstub}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="user-scalable=no,width=device-width">
    <meta charset="utf-8"/>
	<!--<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
</head>
<body>
	<ul>
		{{#folders}}
        <li class="item folder"><a href="/browse{{dirstub}}/{{.}}">{{.}}</a></li>
		{{/folders}}
		{{#files}}
		<li class="item file"><a href="/view{{dirstub}}/{{.}}">{{.}}</a></li>
		{{/files}}
	</ul>
</body>