<!DOCTYPE html>
<head>
    <title>AirServe - Playing {{title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="user-scalable=no,width=device-width">
    <meta charset="utf-8"/>
	<!--<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
</head>
<body>
	<p>{{title}}</p>
	<a class="item" href="/pause/{{path}}/{{title}}">Pause</a>

    <form class="inline_form" action="/skip/{{path}}/{{title}}" method="post">
        <input id="submit" type="submit" value="Skip (mins)"/>
        <div>
            <input name="mins" type="text"/>
        </div>
    </form>
</body>